.info{
    position: absolute;
    margin-top: 2500px;
    width: 100%;
    text-align: justify;
}

.info h1{
    font-weight: 900;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-left: 50px;
}

.info p{
    margin-left: 50px;
    color: gray;
}

.info ul{
    margin-left: 80px;
    color: gray;
}

.info li{
    padding-bottom: 10px;
    color: gray;
}